:root {
  --my-purple: rgb(57, 20, 99);
  --my-green: rgb(54, 171, 126);
  --bg-dark: black;
  --bg-light: white;
  --text-dark: white;
  --text-light: black;
  --my-grey: rgb(140, 140, 140);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.icon {
  height: 40px;
  width: 40px;
  color: var(--my-grey);
}

.logo {
  height: 50px;
  width: 50px;
  color: var(--my-green);
}

.main-image {
  height: 250px;
  display: inline;
}